*.bak
*.pyc
*.cbc
*.chk
*.cbb
*.crc
*.cbw
*.lst
*.log
*.list
*.hds
*.ddn
*.out2
*.out1
*.rec
*.res
*.jst
*.par
*.pmt
*.obf
*.rei
*.rst
*.sen
*.seo
*.svd
*.mod
*.obj
Output*
*.gwv
_GIS/*.tif
plot*.pdf
~$*
fort.6
zz_Archive*
04_Analyse/
08_Note/
09_Plots/
05_GIS/
03_SourceData/
02_Literature/
01_Admin/
06_Model/00-NMISC_Keyes_Roswell_Model_2013_COPY_HOB/zonbud/RGW_2013.2.csv
06_Model/00-NMISC_Keyes_Roswell_Model_2013_COPY_HOB/zonbud/RGW_2013.csv
/06_Model/01-SuperpositionModel
